.homedefault_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xl-6);
  color: var(--color-white);
  font-family: var(--medium-16-22-px-02-px);
}
.homedefault_homedefault {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  border-color: transparent;
}
.desktop_6_child {
  position: absolute;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.topbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  width: 100%;
  padding-right: 2.5%;
}
.logo {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  padding-left: 5%;
  padding-bottom: 2%;
}
.logo_text {
  display: flex;
  font-size: 28px;
  color: white;
}
.logo_styles {
  width: 100vw;
  height: 100vh;
}
.codegpt {
  width: 50px;
  height: 50px;
}
.mid_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.left_content {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border: 2px solid #474545;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem;
}
.text_ai {
  align-self: center;
  line-height: normal;
  font-family: Inter;
  font-weight: 700;
  color: #fff;
  font-size: 1.7rem;
}
.line {
  width: 80%;
  align-self: center;
  color: #fff;
}
.link1,
.link2 {
  padding: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage_text54 {
  font-size: 24px;
  font-style: Medium;
  font-family: Inter;
  font-weight: 500;
}
.badge {
  background-color: rgb(186, 218, 85);
  color: #000;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: 10%;
  font-size: 14px;
}
.badge_text {
  font-weight: bold;
  position: absolute;
  left: 6px;
}
.homepage_text57 {
  font-size: 24px;
  font-style: Medium;
  font-family: Inter;
  font-weight: 500;
  margin-left: -5%;
}
.homepage_rectangle783 {
  width: 70%;
  height: 80% !important;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border: 2px solid #474545;
}
.homepage_text02 {
  color: rgb(186, 218, 85);
  font-size: 1.7rem;
  font-style: Semi Bold;
  font-family: Inter;
  font-weight: 700;
}

.line1 {
  width: 90%;
  align-self: center;
  color: white;
}
.middle_container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65%;
  margin-bottom: 3%;
}
.frame_child {
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
}
.footer_text00 {
  font-size: 16px;
  color: white;
}
.footer-text {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.raida_status {
  width: 8rem;
  height: 120%;
  border: 2px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
}

.raida {
  position: absolute;
  letter-spacing: 0.09px;
  line-height: 22.6px;
  font-weight: 600;
  font-size: 20px;
}
/* .wallet_balance000pc1 {
  margin-top: 15%;
} */
.wallet_text25 {
  color: rgba(204, 204, 204, 1);
  font-size: 14px;
}
.icons2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.home_icon,
.transactions_icon,
.status_icon {
  width: 3rem;
  height: 3rem;
}

.flexContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60%;
  padding: 1.2rem;
}
.btn_div {
  margin-top: 5%;
}
.cancel_btn_div {
  margin-top: 1%;
}
.grey_button {
  width: 219.5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Sarabun;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
  background-color: rgb(136, 156, 231);
  color: #000;
  cursor: pointer;
}
.green_button {
  width: 219px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Sarabun;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
  background-color: rgb(186, 218, 85);
  cursor: pointer;
  color: #000;
}
.wallet_balance {
  color: white;
}
.form_group {
  display: flex;
  flex-direction: column;
}

.form_control {
  border: 1px solid white;
  border-radius: 5px;
  width: 219px;
  height: 32px;
  background-color: transparent;
  outline: none;
  color: white;
  font-family: var(--font-inter);
  font-size: 14px;
}

.error_message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
