.homedefault_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xl-6);
  color: var(--color-white);
  font-family: var(--medium-16-22-px-02-px);
}
.homedefault_homedefault {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  border-color: transparent;
}
.desktop_6_child {
  position: absolute;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.topbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-end;
  align-items: center;
  /* margin-top: 1%; */
  height: 10%;
  width: 100%;
  padding-right: 2.5%;
}
.logo {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  padding-left: 5%;
  padding-bottom: 2%;
}
.logo_text {
  display: flex;
  font-size: 28px;
  color: white;
}
.logo_styles {
  width: 100vw;
  height: 100vh;
}
.codegpt {
  width: 50px;
  height: 50px;
}
.link_container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 65%;
  justify-content: space-between;
}
.item {
  cursor: pointer;
  color: rgb(136, 156, 231);
  text-decoration: none;
  font-size: 24px;
}
.item2 {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
}
.setting {
  width: 30px;
  height: 30px;
}
.mid_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.left_content {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border: 2px solid #474545;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem;
}
.text_ai {
  align-self: center;
  line-height: normal;
  font-family: Inter;
  font-weight: 700;
  color: #fff;
  font-size: 1.7rem;
  /* margin-left: -10%; */
}
.line {
  width: 80%;
  /* margin-top: -18px ; */
  align-self: center;
  color: #fff;
}
.link1,
.link2 {
  padding: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 32%; */
}
.homepage_text54 {
  /* display: inline; */
  font-size: 24px;
  font-style: Medium;
  font-family: Inter;
  font-weight: 500;
  /* margin-left: 10px;
                      margin-top: 6px; */
}
.badge {
  background-color: rgb(186, 218, 85);
  color: #000;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: 10%;
  font-size: 14px;
}
.badge_text {
  font-weight: bold;
  position: absolute;
  left: 6px;
}
.homepage_text57 {
  /* display: inline; */
  font-size: 24px;
  font-style: Medium;
  font-family: Inter;
  font-weight: 500;
  margin-left: -5%;
  /* margin-left: 10px;
                      margin-top: 6px; */
}
.homepage_rectangle783 {
  width: 70%;
  height: 80% !important;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border: 2px solid #474545;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.9rem;
}
.homepage-text02 {
  color: rgb(186, 218, 85);
  font-size: 1.7rem;
  font-style: Semi Bold;
  font-family: Inter;
  font-weight: 700;
}
.newconversation {
  color: #000;
  background-color: rgb(136, 156, 231);
  font-style: Semi Bold;
  text-align: center;
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  align-self: auto;
  font-family: Sarabun;
  font-weight: 600;
  padding: 10px;
  z-index: 9999;
}
.line1 {
  width: 90%;
  align-self: center;
  color: white;
}
.middle_container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65%;
  margin-bottom: 3%;
}
.form_group1 {
  border: 2px solid;
  margin-top: 10%;
  width: 219.5px;
  height: 40px;
  border-radius: 5px;
  color: white;
}
.form_group1 > label {
  position: relative;
  top: -52%;
  left: -22%;
  background-color: #151515;
  /* color: white; */
  font-size: 14px;
}
.desktop15_rectangle782 {
  position: relative;
  top: -61%;
  left: 0.2%;
  width: 206px;
  height: 21px;
  border-color: transparent;
  border-radius: 7px;
}
.desktop15_text11 {
  margin-top: 3%;
  color: rgba(255, 255, 255, 1);
  width: 240px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Sarabun;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.custom_scrollbar {
  overflow-y: hidden;
}

.custom_scrollbar:hover {
  overflow-y: auto;
}

.custom_scrollbar::-webkit-scrollbar {
  width: 6px;
  z-index: 9999;
}

.custom_scrollbar::-webkit-scrollbar-track {
  /* background-color: #f5f5f5; */
  background-color: transparent;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}
.m-table {
  width: 100%;
}
.homepage-rectangle791 {
  width: 98%;
  height: 8%;
  position: relative;
  margin-bottom: 0.8%;
  border-radius: 5px;
  background-color: rgba(39, 39, 41, 1);
  margin-left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}
.message {
  width: 92%;
  left: 1%;
  height: 90%;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
}
#messageTable {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-top: 2%;
  height: 75% !important;
  width: 95%;
  margin-left: 2%;
  /* z-index: 99999; */
  overflow-y: scroll;
  overflow-x: hidden;
  order: 1;
}
.homepage_rectangle788 {
  width: 5%;
  height: 80%;
  margin-left: auto;
  margin-right: 0.5%;
  margin-bottom: 0.5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage_rectangle788:hover {
  background-color: rgb(186, 218, 85) !important;
}
.frame_child {
  width: 100%;
  /* margin: 0; */
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
}
.footer_text00 {
  font-size: 16px;
  color: white;
}
.footer-text {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.raida_status {
  width: 8rem;
  height: 120%;
  border: 2px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
}

.raida {
  position: absolute;
  letter-spacing: 0.09px;
  line-height: 22.6px;
  font-weight: 600;
  font-size: 20px;
}
.middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}
.wallet_balance000pc1 {
  margin-top: 15%;
}
.wallet_text25 {
  color: rgba(204, 204, 204, 1);
  font-size: 14px;
}
.imp_exp_btn {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
}

.import_btn,
.export_btn {
  cursor: pointer;
  width: 18%;
  /* height: 200%; */
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: Sarabun;
  font-weight: 600;
  background-color: rgb(186, 218, 85);
  color: #000;
}
.icons2 {
  /* margin-bottom: 3%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.home_icon,
.transactions_icon,
.status_icon {
  width: 3rem;
  height: 3rem;
}
.frame_child {
  width: 100%;
  /* margin: 0; */
}
.flexContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60%;
  padding: 1.2rem;
}
.btn_div {
  margin-top: 5%;
}
.cancel_btn_div {
  margin-top: 1%;
}
.homepage_text02 {
  color: rgb(186, 218, 85);
  font-size: 1.7rem;
  font-style: Semi Bold;
  font-family: Inter;
  font-weight: 700;
}
.desktop14_text08 {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop14_text10 {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Sarabun;
  font-weight: 600;
  margin-top: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop14_image1 {
  width: 185px;
  height: 185px;
  border-color: transparent;
  background-color: #ffffff;
  padding: 0.5rem;
}

.desktop9_button {
  width: 219px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Sarabun;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
  background-color: rgb(136, 156, 231);
  color: #000;
  cursor: pointer;
  margin-top: 10%;
}
