.homedefault_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xl-6);
  color: var(--color-white);
  font-family: var(--medium-16-22-px-02-px);
}
.logo_styles {
  width: 100vw;
  height: 100vh;
}
.homedefault_homedefault {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  border-color: transparent;
}
.desktop_6_child {
  position: absolute;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.topbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-end;
  align-items: center;
  margin-top: 1%;
  height: 10%;
  width: 100%;
  padding-right: 2.5%;
}
.code_gpt {
  width: 50px;
  height: 50px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  padding-left: 5%;
  padding-bottom: 2%;
}
.logo_text {
  display: flex;
  font-size: 28px;
  color: white;
}
.item {
  cursor: pointer;
  color: rgb(136, 156, 231);
  text-decoration: none;
  font-size: 24px;
}
.item2 {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
}
.setting {
  width: 30px;
  height: 30px;
}
.mid_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.left_content {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border: 2px solid #474545;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem;
}
.text_ai {
  align-self: center;
  line-height: normal;
  font-family: Inter;
  font-weight: 700;
  color: #fff;
  font-size: 1.7rem;
}
.line {
  width: 80%;
  /* margin-top: -18px ; */
  align-self: center;
}
.link1,
.link2 {
  padding: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 32%; */
}
.homepage_text54 {
  /* display: inline; */
  font-size: 24px;
  font-style: Medium;
  font-family: Inter;
  font-weight: 500;
  /* margin-left: 10px;
            margin-top: 6px; */
}
.homepage_text57 {
  /* display: inline; */
  font-size: 24px;
  font-style: Medium;
  font-family: Inter;
  font-weight: 500;
  /* margin-left: 10px;
    margin-top: 6px; */
}
.badge {
  background-color: rgb(186, 218, 85);
  color: #000;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: 10%;
  font-size: 14px;
}
.badge_text {
  font-weight: bold;
  position: absolute;
  left: 6px;
}
.homepage_rectangle783 {
  width: 70%;
  height: 80% !important;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border: 2px solid #474545;
}
.flexContainer3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40%;
  padding: 0.85rem;
}
.homepage_text02 {
  color: rgb(186, 218, 85);
  font-size: 1.7rem;
  font-style: Semi Bold;
  font-family: Inter;
  font-weight: 700;
}
.green_button1 {
  color: #000;
  background-color: rgb(136, 156, 231);
  font-style: Semi Bold;
  text-align: center;
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  align-self: auto;
  font-family: Sarabun;
  font-weight: 600;
  padding: 6px;
}
.line1 {
  width: 90%;
  align-self: center;
}
.settings_container {
  display: flex;
  flex-direction: column;
}
.first {
  text-decoration: none;
  margin-top: 5%;
  display: flex;
  justify-content: left;
  margin-left: 5%;
}
.settings_helpcircle,
.settings_vector05,
.settings_vector07,
.settings_vector09,
.settings_vector12,
.settings_vector10,
.settings_vector11 {
  width: 30px;
  height: 30px;
}
.settings_text23,
.settings_text19,
.settings_text15,
.settings_text17,
.settings_text25 {
  color: rgba(255, 255, 255, 1);
  width: 622px;
  height: auto;
  position: relative;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Sarabun;
  font-weight: 600;
  line-height: 35px;
  font-stretch: normal;
  margin-left: 2%;
}
.second,
.third,
.fourth,
.fifth {
  margin-top: 2%;
  display: flex;
  justify-content: left;
  margin-left: 5%;
  text-decoration: none;
}
.settings_vector06 {
  width: 30px;
  height: 11px;
  position: absolute;
  margin-top: 0.5%;
}
.sixth,
.seventh {
  margin-top: 2%;
  display: flex;
  justify-content: left;
  margin-left: 5%;
}
.settings_fontsize {
  border: 2px solid rgb(186, 218, 85);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}
.form_control1 {
  box-shadow: none !important;
  /* margin-top: 2%; */
}

.settings_fontsize > input {
  border: none;
  outline: none;
  width: 92px;
  background-color: transparent;
  color: var(--available-balance);
  font-family: var(--font-inter);
  font-size: 16px;
  height: 30px;
  text-align: center;
}
.select_box {
  display: flex;
  /* flex-direction: column; */
  /* z-index: 9999; */
  width: 219.5px;
  margin-left: 2%;
}

.select_box .options_container {
  background: linear-gradient(
    180deg,
    rgba(106, 106, 110, 1) 0%,
    rgba(66, 66, 71, 1) 100%
  );
  color: #f5f6fa;
  max-height: 0;
  opacity: 0;
  /* transition: all 0.4s; */
  border-radius: 8px;
  overflow: hidden;
  /* z-index: 99999; */
  order: 1;
}
.select_box .options_container.active-item {
  max-height: 90px;
  font-size: 12px;
  opacity: 1;
  overflow-y: scroll;
  position: absolute;
  line-height: 25px;
  width: 219.5px;
  margin-top: 50px;
}

.select_box .options_container.active-item + .selected::after {
  transform: rotateX(180deg);
  top: -10px;
}

.select_box .options_container::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  border-radius: 0 8px 8px 0;
}

.select_box .options_container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0 8px 8px 0;
}

.select_box .option,
.selected {
  cursor: pointer;
  font-size: 16px;
}

.select_box .option:hover {
  background: rgb(186, 218, 85);
  color: #151515;
}

.select_box label {
  cursor: pointer;
}

.select_box .option .radio {
  display: none;
}
.settings_helpcircle,
.settings_vector05,
.settings_vector07,
.settings_vector09,
.settings_vector12,
.settings_vector10,
.settings_vector11 {
  width: 30px;
  height: 30px;
}
.select_box .options_container.active-item {
  width: 195px;
  position: absolute;
  margin-top: 40px;
}
.select_box .option,
.selected {
  font-size: 16px;
}
.select_box .options_container.active-item + .selected::after {
  transform: rotateX(180deg);
  top: -2px;
}
.frame_child {
  width: 100%;
  /* margin: 0; */
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
}

.footer_text {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.footer_text00 {
  font-size: 16px;
}
.settings_text27,
.settings_text29 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Sarabun;
  font-weight: 600;
  line-height: 35px;
  font-stretch: normal;
  margin-left: 2%;
}
